.baner{
    background-color: #29434E;
    font-family: Verdana;
}

.polecamy1{
    display: flex;
    background-color: #B0BEC5;

}


.filmyfantastyczne1{
    display: flex;
    background-color: #B0BEC5;
}

.stopka{
    background-color: #29434E;
}